body, #root {
  background: linear-gradient(135deg, #07080d 0%, #10121a 100%) !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
